#btnLeft{
    -fx-background-image:  url("/img/left.png") ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;

}

#btnRight{
    -fx-background-image:  url("/img/right.png") ;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}